<div class="page-header">
    <h3>Welcome to my Express Home Page!</h3>
</div>
<h4>Quickly navigate to one of the pages below using these buttons:</h4>
<div class="btn-group btn-group-justified">
    <a href="/realtime/show" class="btn btn-primary">Real-time Data</a>
    <a href="/users/control" class="btn btn-primary">User Control</a>
</div>