<div class="page-header">
<h3>Real-time Data Reading Page!</h3>
<h4>This page will display realtime data from /realtime/data every 5 seconds</h4>
</div>

<meta http-equiv="refresh" content="5" /> <!-- https://stackoverflow.com/questions/2787679/how-to-reload-page-every-5-second -->
<script>
//getJSON - https://www.w3schools.com/jquery/ajax_getjson.asp 
$(document).ready(function(){
    $.getJSON("/realtime/data", function(result){
        $.each(result, function(i, field){
            $("#rtdata").append("<h1><b>" + field + "</b></h1>");
        });
    });
});
</script>
<div id="rtdata"><h4>The current random number is: </h4></div>